@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gad-color: #003D94;
}

body {
  padding-top: 96px;
}

.slide {
  opacity: .5;
}

.slick-active {
  opacity: 1;
}

.slide img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slide img {
    height: 40vh;
  }
}

.bg-gad {
  background-color: var(--bg-gad-color);
}

.slick-dots li {
  background-color: #ccc;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: var(--bg-gad-color);
}

.slick-dots li button {
  opacity: 0;
}

